@page "/shopping-list/{id:int}"
@rendermode InteractiveWebAssembly

<h3>@(ShoppingListDto?.Name)</h3>

@foreach (var item in ShoppingListItems?.Where(i => !i.IsDeleted) ?? [])
{
    <div class="mt-2">
        <div class="form-check" tabindex="0" @onkeyup="@(args => HandleItemKeyUpAsync(item, args))">
            <input type="checkbox" class="form-check-input" checked="@item.IsPicked" @onchange="@(args => ToggleItemAsync(item, args))"/>
            <label class="form-check-label @(item.IsPicked ? "text-decoration-line-through" : "")">@item.Name</label>
            <span class="text-danger float-end" role="button" @onclick="@(_ => DeleteItemAsync(item))">
                <i class="bi bi-trash3-fill text-danger lead"></i>
            </span>
        </div>
    </div>
}

<div class="form-floating my-3">
    <InputText id="item-name" class="form-control" @bind-Value="ItemName" placeholder="" @onkeyup="@(args => HandleItemNameKeyUpAsync(args))" />
    <label class="form-label" for="item-name">Name</label>
</div>
<button class="btn btn-primary" @onclick="AddItemAsync">Add Item</button>
